#canvas1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
}

.controls{
  position: absolute;
  z-index: 10;
  top: 10%; 
  left: 20%;
  transform: translate(-50%);
}

.controls,select,option{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  display: block;
  margin: 10px auto;
  font-size: 16px;
  border: none;
}